body {
    font-family: 'Noto Sans', sans-serif;
}

.dashery {
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

.logo {
    font-size: 500%;
}

.vertical-centre {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 5em;
}

h1 {
    font-size:36px;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#search {
    margin-bottom: 1em;
    color: white;
    background: url(../img/background.jpg) #2D2F3C no-repeat;
    background-size: cover;
    height: 50vh;
}

#search-information {
    margin-top: 1em;
    margin-bottom: 4em;
}

.search-top {
    margin-bottom: 0.3em;
}

#footer {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #F8F8F8;
}

.tt-open {
    width: 100%;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.col-result {
    padding: 1em;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1em;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: grey;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.navbar {
    margin-bottom: 0px;
}

#wrap {
    width: 100%;
}

.img-result {
    object-fit: cover;
    max-height: 25em;
    margin-left: auto;
    margin-right: auto;
}

#results > .col-md-4:nth-child(3n+1) {
    clear: both;
}

a:hover {
    text-decoration: none;
}

#featured .col-result {
    vertical-align: bottom;
}

.navbar-search {
    width: 50%;
}

.navbar-tokenfield {
    width: 100%;
}

.article-info {
        height: 65px;
        background: #333;
              visibility: visible;
                    opacity: 1;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
    }

.article-info h3 {
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                font-size: 17px;
                padding: 10px 10px 0 4px;
                margin: 4px 0 0 0;
            }

.article-info p {
                font-style: italic;
                font-size: 12px;
                position: relative;
                color: #bbb;
                padding: 5px;
                text-align: center;
            }

.square img {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.square {
 overflow: hidden;
}