<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8"/>
    <title>Dashery</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/bower_components/ihover/src/ihover.min.css"/>
    <link rel="stylesheet" href="/css/search.css"/>

    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="wrap">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand dashery" href="/">Dashery</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="search">
        <div class="container vertical-centre">
            <div id="search-header" class="row text-center">
                <h1 class="dashery">Search British. Search Quality.</h1>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                        <input id="search-input" type="text" class="form-control" placeholder="Search for..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="search()"> Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </div>

    <section class="container" id="featured">
        <div class="row text-center strike">
            <span>FEATURED</span>
        </div>
        <div id="results" class="row text-center">
            <div class="col-md-4 col-result">
                <div class="ih-item circle effect13 from_left_and_right center-block">
                    <a href="http://triplstitched.com/collections/buttondowns/products/classicbuttondownnavyoxford">
                        <div class="spinner"></div>
                        <div class="img"><img src="./img/featured/triplstitched.jpg" alt="Tripl Stitched"/></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Tripl Stitched</h3>
                                <p>Classic Button Down - Pink Candy Stripe</p>
                                <p><strong>£95</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-result">
                <div class="ih-item circle effect13 from_left_and_right center-block">
                    <a href="http://www.carriercompany.co.uk/shop/35-men-s-irish-wool-jacket">
                        <div class="spinner"></div>
                        <div class="img"><img src="./img/featured/carriercompany.jpg" alt="Carrier Company"/></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Carrier Company</h3>
                                <p>Irish Wool Jacket</p>
                                <p><strong>£130</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-result">
                <div class="ih-item circle effect13 from_left_and_right center-block">
                    <a href="http://www.tusting.co.uk/collections-leather-bags/harrold/harrold-chellington-leather-holdall-in-deep-green">
                        <div class="spinner"></div>
                        <div class="img"><img src="./img/featured/tusting.jpg" alt="Tusting"/></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Tusting</h3>
                                <p>Harold Chellington Leather Holdall in Deep Green</p>
                                <p><strong>£640</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-md-4 col-result">
                <div class="ih-item circle effect13 from_left_and_right center-block">
                    <a href="http://hiutdenim.co.uk/clothingItems/selvedge-denim-hacks-2014">
                        <div class="spinner"></div>
                        <div class="img"><img src="./img/featured/hiut.jpg" alt="Hiut"/></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Hiut</h3>
                                <p>Selvedge Denim Hacks</p>
                                <p><strong>£230</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-result">
                <div class="ih-item circle effect13 from_left_and_right center-block">
                    <a href="http://www.marwoodlondon.co.uk/clothingItem/marwood-slub-fleck-applique-navy-white/">
                        <div class="spinner"></div>
                        <div class="img"><img src="./img/featured/marwood.jpg" alt="Marwood"/></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Marwood</h3>
                                <p>Slub Fleck Applique Tie - Navy White</p>
                                <p><strong>£130</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-result">
                <div class="ih-item circle effect13 from_left_and_right center-block">
                    <a href="http://www.awin1.com/pclick.php?p=3428493847&amp;a=256169&amp;m=6619">
                        <div class="spinner"></div>
                        <div class="img"><img src="./img/featured/privatewhitevc.jpg" alt="Private White V.C."/></div>
                        <div class="info">
                            <div class="info-back">
                                <h3>Private White V.C.</h3>
                                <p>Manchester Pea Coat - Navy Wool</p>
                                <p><strong>£675</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- SnapWidget -->
    <section class="container">
        <div class="row text-center strike">
            <span>LATEST FROM INSTAGRAM</span>
        </div>
        <div class="row">
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/bd/?u=ZGFzaGVyeWxvbmRvbnxpbnwyMDB8NXwxfHx5ZXN8MjB8ZmFkZU91dHxvblN0YXJ0fHllc3x5ZXM=&amp;ve=280216"
                    title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0"
                    scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
        </div>
    </section>

    <footer id="footer">
        <div class="container text-center">
            <a href="https://dasherydev.wordpress.com/">dashery dev blog</a>
        </div>
        <div class="container text-center">
            © Dashery
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script type="text/javascript" src='/js/analytics.js'></script>
<script type="text/javascript" src='/js/search.js'></script>
</body>
</html>
